# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.apk
*.unitypackage
.vs/
.gradle/
ExportedObj/
.consulo/
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.aab
*.app
*.ipa
*.xap
*.xap

# BepInEx/Modding
bin/
obj/
*.dll
